@model Crud2Web.Models.Departamento.DepartamentoViewModel
@{
    ViewBag.Title = "VerDepartamento";
    
}

<h2>Ver Departamento</h2>

<div class="container">


    <p>
      Depatamento :  <strong>@Model.Departamento</strong>
    </p>
    <p>
       Responsable : <strong>@Model.Representante</strong>
    </p>
    <p>
        Objetivo:  <strong>@Model.Objetivo</strong>
    </p>
    <p>
        Presupuesto:  <strong>@Model.Presupuesto</strong>
    </p>

</div>